body{
background:lightblue;
}
h1{
font-size:32px;
color:darkred;
text-decoration:underline;
}

p{
font-size:25px;
color:hotpink;
font-weight:bold;
}

#line1{
background:darkgreen;
}

#line2{
background:purple;
}
