body{
background:grey;
}

hr{
border-width:0px;
height:8px;
background:darkred;
}

#line1{
background:darkblue;
width:90%;
}

#line2{
background:darkgreen;
width:70%;
}
#line3{
background:orange;
width:50%;
}

#line4{
background:yellow;
width:30%;
}

#line5{
background:hotpink;
width:20%;
}

#line6{
background:purple;
width:10%;
}
