body{
background:orange;
}

h1{
color:darkred;
font-size:42px;
text-decoration:underline;
}
h2{
color:darkred;
font-size:30px;
}

p{
color:darkred;
background:lightgreen;
font-weight:bold;
font-size:32px;
}

.main{
height:450px;
width:200px;
border:7px solid purple;
text-align:center;
}
.first{
height:25%;
width:100%;
padding-top:30px;
background:lightblue;
border-bottom:7px solid purple;
}
*{
box-sizing:border-box;
}
.second{
height:25%;
border-bottom:7px solid purple;
width:100%;
padding-top:30px;
background:lightblue;
}

.third{
height:25%;
width:100%;
padding-top:30px;
background:lightblue;
border-bottom:7px solid purple;
}

.fourth{
height:25%;
width:100%;
padding-top:30px;
background:lightblue;}

a{
font-size:30px;
color:darkred;
font-weight:bold;
text-decoration:none;
}
