body{
background:black;
}

*{
box-sizing:border-box;
}

h1{
color:white;
font-size:42px;
text-decoration:underline;
}
h2{
color:white;
font-size:30px;
}

p{
color:white;
font-weight:bold;
font-size:32px;
}

.main{
height:100px;
width:800px;
text-align:center;
border:7px solid white;
}
.first{
height:100%;
width:25%;
float:left;
border-right:7px solid white;
padding-top:20px;
background:darkblue;
}
.second{
float:left;
height:100%;
border-right:7px solid white;
width:25%;
background:darkblue;
padding-top:20px;
}

.third{
float:left;
height:100%;
width:25%;
border-right:7px solid white;
padding-top:20px;
background:darkblue;
}

.fourth{
float:left;
height:100%;
width:25%;
padding-top:20px;
background:darkblue;
}

a{
font-size:30px;
color:white;
font-weight:bold;
text-decoration:none;
}
