body{
background:lightblue;
}

span{
font-size:42px;
color:darkred;
}

.span1{
font-size:35px;
font-weight:bold;
color:darkblue;
}

.span2{
font-size:32px;
font-weight:bold;
color:darkgreen;
}

.span3{
font-size:30px;
color:purple;
}
