h1{
color:lightblue;
font-size:52px;
text-decoration:underline;
}
p{
font-size:38px;
color:darkred;
}
ul{
list-style-type:none;
margin-left:0px;
color:darkblue;
background:orange;
font-size:25px;
}

body{
background:grey;
}
