body{
background:darkgrey;
border:9px double pink;
}
h1{
color:orange;
}

hr{
height:9px;
border-width:0px;
color:purple;
}

p{
font-size:32px;
color:darkred;
}

.hr1{
background:yellow;
width:70%;
}

.p1{
color:darkgreen;
}
.p2{
color:brown;
}

.p3{
color:blue;
}


